mat-card{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgba($color:#ffffff, $alpha: 1);
    border:1px solid black;
    height: 88vh;
    width: 98vw;
    overflow-y: scroll;
}