@import '../../../../styles.scss';

.filter-card {
  background-color: white;
  margin: 1rem;
  padding:1rem;
  height: 85vh;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filters {
  height:25vh;
  overflow-y: scroll;
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
  
}

mat-form-field{
  padding-top:1rem
}