@font-face {
    font-family: "Plantin Head MT Std Bold Cn";
    src: url('./fonts//Plantin\ Head\ MT\ Std\ Bold\ Cn.otf') format("truetype");
}

@font-face {
    font-family: "Plantin Head MT Std Medium Cn";
    src: url('./fonts//Plantin\ Head\ MT\ Std\ Medium\ Cn.otf') format("truetype");
}